@media( max-width : 992px) {
    .navbar__link{
        width:100%;
        flex-direction: column;
        text-align: center;
        display: none;
    }
    .navbar__links{
        padding: 20px 0;
    }
    .navbar__links a{
        font-size: 2.5rem;
    }
    .navbar__link.show{
        display:flex;
    }
    .openMenu{
        cursor: pointer;
        display: block;
    }
    /*----HOME----*/
    .webp .home__background{
        background-image: url(../img/Banners/laptoppng.webp);
    }
    .no-webp .home__background{
        background-image: url(../img/Banners/laptoppng.png);
    }
    .home__backbround{
        background: url(../img/Banners/laptoppng.webp) center;
        background-size: cover;
        background-attachment: fixed;
    }
    .home__content{
        flex-direction: column;
        text-align: center;
    }
    .home__description .home__title{
        font-size: 5rem;
    }
    .home__subtitle{
        font-size: 3rem;
    }
    .home__image img{
        margin-top: 2rem;
    }
    .media{
        display:flex;
        justify-content: center;
        margin:2rem 0;
    }
    .about__grid{
        grid-template-columns: 1fr;
    }
    .about__description{
        padding-right: 0;
    }
    .about__description h2{
        margin:20px 0;
    }
    .about__description p{
        margin-bottom: 10px;
    }
    .button__file{
       margin: 25px 0;
   }
   .skills{
       grid-template-columns: repeat(4,1fr);
   }
   .skills__title{
       grid-column: span 4;
   }
   .projects__grid{
       grid-template-columns: repeat(2, 1fr);
   }
   .contact__flex{
       flex-direction: column;
   }
   .contact__flex .contact__info{
       margin-bottom: 4rem;
   }
   .contact__data{
       width:100%;
   }
}

@media( max-width : 768px){
    .home__description .home__title{
        font-size:4rem;
    }
    .home__subtitle{
        font-size: 2.5rem;
    }
    .home__image img{
        width:80%;
    }
     .about__description h2{
        line-height: 1.5;
    }
    .skills{
        grid-template-columns:repeat(3,1fr);
    }
    .skills__title{
        grid-column: span 3;
    }
    .skills__items{
        padding:15px;
    }
    .media .social__icon a{
        font-size: 2.5rem;
    }
    .projects__grid{
        grid-template-columns: 1fr;
    }
    .footer__menu{
        flex-direction: column;
    }
    .footer__social{
        margin-top:2rem;
    }
    .arrow__up{
        margin:0;
    }
    .arrow__up i{
        margin-top:0.5rem;
    }
}
@media (max-width: 600px) {
    .about__description h2{
        line-height: 1.2;
    }
}
@media (max-width : 480px ) {
    .home__description .home__title{
        font-size: 4rem;
    }
    .home__subtitle{
        font-size: 2rem;
    }
    .about__description h2{
        font-size: 1.8rem;
    }
    .about__description p{
        font-size: 1.5rem;
    }
    .skills{
        grid-template-columns: repeat(2,1fr);
        
    }.skills__title{
        grid-column: span 2;
    }
  
}